.first{
    background-image: url(imagens/topo.jpg);
    background-repeat: no-repeat;
    height: 500px;
    margin-left: 90px;
}

.top img{
    border: 1px solid transparent;
    padding: 8px;
    margin-left: 150px;
    display: inline-block;
}

.top ul{
    padding: 20px 20px 0 0;
    float: right;
    margin-top: -10px;
}

.top li{
    display: inline-block;
    list-style: none;
}

.top a{
    display: block;
    /*border: 3px solid red;*/
    margin-right: 15px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.3);
    letter-spacing: 3px;
    font-size: 14px;
}

.top a:hover{
    color: white;
}

.principal{
    background: rgb(8, 25, 31);
    width: 1024px;
    height: 50px;
    margin-left: 90px;
    margin-top: 70px;
}
